# Main files
.aspell.homm3.pws @AFulgens
.gitignore @qwrtln
.pre-commit-config.yaml @qwrtln
/.github/ @qwrtln
/assets/ @csagataj2 @qwrtln
/components_lists/ @qwrtln
/sections/ @Heegu-sama
/translations/ @qwrtln @Heegu-sama
README.md @qwrtln
components_list.tex @qwrtln
index_style.ist @qwrtln
main_en.tex @Heegu-sama
main_*.tex @Heegu-sama @qwrtln
make_printable.sh @qwrtln
metadata.tex @Heegu-sama
po4a.cfg @ohgodnotagain @qwrtln

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @evilmint @Heegu-sama
/translations/assets/pl/ @qwrtln @evilmint @Heegu-sama
main_pl.tex @qwrtln @evilmint @Heegu-sama
#
# Spanish
**/es.po @luischos @qwrtln @Heegu-sama
/translations/assets/es/ @luischos @qwrtln @Heegu-sama
main.es.tex @luischos @qwrtln @Heegu-sama
#
# French
# ...
