# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama @DarthGandalf @DerSchlupf
.gitignore @qwrtln @Heegu-sama @DarthGandalf
.pre-commit-config.yaml @qwrtln @Heegu-sama @DarthGandalf
.version @qwrtln @Heegu-sama @DarthGandalf @DerSchlupf
.weblate @Heegu-sama @qwrtln @DarthGandalf
/.github/ @qwrtln @Heegu-sama @DarthGandalf
/assets/ @csagataj2 @qwrtln @Heegu-sama @DarthGandalf @DerSchlupf
/sections/ @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama @DarthGandalf
README.md @qwrtln @Heegu-sama @DarthGandalf @DerSchlupf
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln @DarthGandalf
metadata.tex @Heegu-sama @qwrtln @DarthGandalf
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama
run.sh @Heegu-sama @qwrtln @DarthGandalf
structure.tex @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @igorrosa @Heegu-sama @DarthGandalf @DerSchlupf
/translations/assets/pl/ @qwrtln @igorrosa @Heegu-sama @DarthGandalf @DerSchlupf
main_pl.tex @qwrtln @igorrosa @Heegu-sama @DarthGandalf @DerSchlupf
#
# Spanish
**/es.po @DarthGandalf @Heegu-sama @qwrtln @DerSchlupf
/translations/assets/es/ @DarthGandalf @Heegu-sama @qwrtln @DerSchlupf
main_es.tex @DarthGandalf @Heegu-sama @qwrtln @DerSchlupf
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln @Legrecofr @DerSchlupf
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln @Legrecofr @DerSchlupf
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln @Legrecofr @DerSchlupf
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln @DerSchlupf
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln @DerSchlupf
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln @DerSchlupf
#
# Ukrainian
**/ua.po @SerhiiSUr @DarthGandalf @Heegu-sama @qwrtln @DerSchlupf
/translations/assets/ua/ @SerhiiSUr @DarthGandalf @Heegu-sama @qwrtln @DerSchlupf
main_ua.tex  @SerhiiSUr @DarthGandalf @Heegu-sama @qwrtln @DerSchlupf
#
# German
**/de.po @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
/translations/assets/de/ @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
main_de.tex  @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
#
# Chinese
**/cn.po @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
/translations/assets/cn/ @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
main_cn.tex  @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
