# Main files
.aspell.homm3.pws @AFulgens @Heegu-sama
.gitignore @qwrtln @Heegu-sama @DarthGandalf
.pre-commit-config.yaml @qwrtln @Heegu-sama @DarthGandalf
.weblate @Heegu-sama @qwrtln @DarthGandalf
/.github/ @qwrtln @Heegu-sama
/.github/workflows/ @qwrtln @Heegu-sama @DarthGandalf
/assets/ @csagataj2 @qwrtln @Heegu-sama @DarthGandalf
/sections/ @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf
/tools/ @qwrtln @DarthGandalf @Heegu-sama
/translations/ @qwrtln @Heegu-sama @DarthGandalf
README.md @qwrtln @Heegu-sama @DarthGandalf
index_style.ist @qwrtln @DarthGandalf @Heegu-sama
main_*.tex @Heegu-sama @qwrtln @DarthGandalf
metadata.tex @Heegu-sama @qwrtln @DarthGandalf
po4a.cfg @ohgodnotagain @qwrtln @DarthGandalf @Heegu-sama
run.sh @Heegu-sama @qwrtln @DarthGandalf
structure.tex @Heegu-sama @qwrtln @DarthGandalf @DerSchlupf

### Granular settings for translations
#
# Polish
**/pl.po @qwrtln @candiun @Heegu-sama @DarthGandalf @xNeuroNx
/translations/assets/pl/ @qwrtln @candiun @Heegu-sama @DarthGandalf @xNeuroNx
main_pl.tex @qwrtln @candiun @Heegu-sama @DarthGandalf @xNeuroNx
#
# Spanish
**/es.po @luischos @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/es/ @luischos @DarthGandalf @Heegu-sama @qwrtln
main_es.tex @luischos @DarthGandalf @Heegu-sama @qwrtln
#
# French
**/fr.po @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln @Legrecofr
/translations/assets/fr/ @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln @Legrecofr
main_fr.tex @Gastonia02 @DarthGandalf @Heegu-sama @qwrtln @Legrecofr
#
# Russian
**/ru.po @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
/translations/assets/ru/ @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
main_ru.tex @ohgodnotagain @Heegu-sama @DarthGandalf @qwrtln
#
# Ukrainian
**/ua.po @SerhiiSUr @DarthGandalf @Heegu-sama @qwrtln
/translations/assets/ua/ @SerhiiSUr @DarthGandalf @Heegu-sama @qwrtln
main_ua.tex  @SerhiiSUr @DarthGandalf @Heegu-sama @qwrtln
#
# German
**/de.po @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
/translations/assets/de/ @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
main_de.tex  @Heegu-sama @DerSchlupf @DarthGandalf @qwrtln
#
# Czech
**/cs.po @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/cs/ @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
main_cs.tex  @tomaas-zeman @Heegu-sama @qwrtln @DarthGandalf
#
# Hebrew
**/he.po @davidpodless @Heegu-sama @qwrtln @DarthGandalf
/translations/assets/he/ @davidpodless @Heegu-sama @qwrtln @DarthGandalf
main_he.tex @davidpodless @Heegu-sama @qwrtln @DarthGandalf
