**.aux
**/.DS_Store
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.synctex(busy)
*.synctex.gz
*.toc
.claude/settings-local.json
.idea/
.venv/
.vs/
cache
screenshots/
sections/translated/
svg-inkscape/
