name: Build Document

on:
  pull_request:
    branches: [main]
    # paths-ignore:
    #   - '.github/**'

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          compiler: pdflatex
          args: "-synctex=1 -interaction=nonstopmode  --shell-escape"
          extra_system_packages: inkscape
          root_file: main.tex
      - name: Upload pdf as artifact
        uses: actions/upload-artifact@v4
        with:
          name: RULE_BOOK_PDF
          path: main.pdf
