name: Publish Document

on:
  push:
    branches:
      - main

env:
  BOARG_GAME_GEEK_FILES: https://boardgamegeek.com/filepage/272787

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Replace version with a warning
        run: |
          VERSION=$(grep -P "^Version \d{1,}.\d{1,}$" main.tex)
          RELEASE_PAGE="${{ github.server_url }}/${{ github.repository }}/releases"
          WARNING="This is an unreleased version built on GitHub from commit ${GITHUB_SHA::7}. To download the latest official release, please go to \\\href{${RELEASE_PAGE}}{GitHub release page} or \\\href{${{ env.BOARG_GAME_GEEK_FILES }}}{BoardGameGeek files section}."
          sed -i "s@$VERSION@$WARNING@g" main.tex

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          extra_system_packages: "inkscape"
          latexmk_shell_escape: true
          root_file: main.tex

      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf

      - name: Add pages to hyperlinks
        run: |
          find sections -type f | xargs -n 1 sed -i "s@\\\hypertarget@\\\pagetarget@g"
          find sections -type f | xargs -n 1 sed -i "s@\\\hyperlink@\\\pagelink@g"

      - name: Include index page
        run: sed -i "s@\\\end{document}@\\\include{sections/index.tex}\\\end{document}@g" main.tex

      - name: Compile printable document
        uses: xu-cheng/latex-action@v3
        with:
          extra_system_packages: "inkscape"
          latexmk_shell_escape: true
          pre_compile: "makeindex main -s index_style.ist"
          root_file: main.tex

      - name: Rename pritable file
        run: mv main.pdf printable.pdf

      - name: Upload printable PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PRINTABLE
          path: printable.pdf

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: main.pdf

      - uses: actions/download-artifact@v4
        with:
          path: printable.pdf

      - name: Move PDFs
        run: |
          mkdir -p github_deploy
          mv main.pdf github_deploy/
          mv printable.pdf github_deploy/

      - name: Deploy on orphaned branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./github_deploy
          publish_branch: build
          force_orphan: true
