name: Publish Document

on:
  push:
    branches:
      - main

env:
  BOARG_GAME_GEEK_FILES: https://boardgamegeek.com/filepage/272787

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Replace version with a warning
        run: |
          VERSION=$(grep -P "^[\ ]*Version \d{1,}.\d{1,}$" main.tex)
          RELEASE_PAGE="${{ github.server_url }}/${{ github.repository }}/releases"
          WARNING="This is an unreleased version built on GitHub from commit ${GITHUB_SHA::7}. To download the latest official release, please go to \\\href{${RELEASE_PAGE}}{GitHub release page} or \\\href{${{ env.BOARG_GAME_GEEK_FILES }}}{BoardGameGeek files section}."
          sed -i "s@$VERSION@$WARNING@g" main.tex

      - name: Compile rule book
        uses: xu-cheng/latex-action@v3
        with:
          extra_system_packages: "inkscape"
          latexmk_shell_escape: true
          root_file: main.tex

      - name: Upload PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: main.pdf

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Add pages to select hyperlinks
        run: |
          find sections -type f | xargs -n 1 sed -i "s@\\\hypertarget@\\\pagetarget@g"
          python .github/insert_printable_hyperlinks.py

      - name: Include index page
        run: sed -i "s@\\\include{sections/back_cover.tex}@\\\include{sections/index.tex}\\\include{sections/back_cover.tex}@g" main.tex

      - name: Add QR codes
        run: sed -i -e '/% QR codes placeholder/{r .github/qr-codes.tex' -e 'd}' main.tex

      - name: Compile printable rule book
        uses: xu-cheng/latex-action@v3
        with:
          extra_system_packages: "inkscape"
          latexmk_shell_escape: true
          post_compile: "makeindex main -s index_style.ist && pdflatex --shell-escape main.tex"
          root_file: main.tex

      - name: Rename pritable file
        run: mv main.pdf printable.pdf

      - name: Upload printable PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: PRINTABLE
          path: printable.pdf

      - name: Compile components list
        uses: xu-cheng/latex-action@v3
        with:
          extra_system_packages: "inkscape"
          latexmk_shell_escape: true
          root_file: components_list.tex

      - name: Upload printable PDF as artifact
        uses: actions/upload-artifact@v4
        with:
          name: COMPONENTS_LIST
          path: components_list.pdf

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: main.pdf

      - uses: actions/download-artifact@v4
        with:
          path: printable.pdf

      - uses: actions/download-artifact@v4
        with:
          path: components_list.pdf

      - name: Move PDFs
        run: |
          mkdir -p github_deploy
          mv main.pdf printable.pdf components_list.pdf github_deploy/

      - name: Deploy on orphaned branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./github_deploy
          publish_branch: build
          force_orphan: true
