name: Build release version

on:
  workflow_dispatch:

env:
  ARTIFACT_RETENTION_DAYS: 1

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - language: en
            language_name: English
          - language: pl
            language_name: Polski
          - language: es
            language_name: Espanol
          - language: fr
            language_name: Francais
          - language: ru
            language_name: Russkiy
          - language: ua
            language_name: Ukrainska
          - language: de
            language_name: Deutsch
          - language: cs
            language_name: Cestina
          - language: he
            language_name: Ivrit

    steps:
      - name: Set up repository
        uses: actions/checkout@v4

      - name: Generate translations for ${{ matrix.language }}
        if: ${{ matrix.language != 'en' }}
        uses: qwrtln/po4a-action@v1.3
        with:
          version: "0.74"
          config: "po4a.cfg"
          args: "--no-update"

      - name: Set version
        run: echo "VERSION=$(cat .version | tr . _)" >> $GITHUB_ENV

      - name: "Digital / ${{ matrix.language_name }}"
        uses: ./.github/workflows/pdf-build.yaml
        with:
          language: ${{ matrix.language }}
          build_type: digital
          file_name: "Heroes3_${{ matrix.language_name }}_Rules_Rewrite_${{ env.version }}"

      - name: "Printable / ${{ matrix.language_name }}"
        uses: ./.github/workflows/pdf-build.yaml
        with:
          language: ${{ matrix.language }}
          build_type: printable
          file_name: "Heroes3_${{ matrix.language_name }}_Rules_Rewrite_${{ env.version }}_Printable"
          convert_to_cmyk: true

      - name: "Economy printable / ${{ matrix.language_name }}"
        uses: ./.github/workflows/pdf-build.yaml
        with:
          language: ${{ matrix.language }}
          file_name: "Heroes3_${{ matrix.language_name }}_Rules_Rewrite_${{ env.version }}_Economy_Printable"
          build_type: economy
